.fv {
  position: relative;
}

.fv video {
  width: 100%;
}

.fv .title {
  font-size: clamp(25px, 2.60417vw, 50px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #fff;
  letter-spacing: 0.2em;
}

.about .sub-title {
  font-size: clamp(18px, 1.875vw, 36px);
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.2em;
}

.product .list {
  width: clamp(200px, 20.83333vw, 400px);
}

.product .list li {
  border-radius: 15px;
  box-shadow: 2px 4px 12px #383838;
  overflow: hidden;
}

.product .list li .text-wrap {
  padding: 1.5vw;
}

.product .list li .text-wrap .name {
  font-size: clamp(24px, 1.25vw, 24px);
  color: #6e6e73;
  margin-bottom: 1vw;
}

.product .list li .text-wrap .text {
  line-height: 1.5;
  letter-spacing: 0.1em;
}
