/*========= LoadingのためのCSS ===============*/

/* Loading背景画面設定　*/
#splash {
  /*fixedで全面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: #eee;
  text-align: center;
  color: #fff;
}

/* Loading画像中央配置　*/
#splash_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Loading アイコンの大きさ設定　*/
#splash_logo svg {
  width: 300px;
}

/*=============== SVGアニメーション内の指定 =================*/

/*アニメーション前の指定*/
#mask path {
  fill-opacity: 0; /*最初は透過0で見えない状態*/
  transition: fill-opacity 0.5s; /*カラーがつく際のアニメーション0.5秒で変化*/
  fill: none; /*塗りがない状態*/
  stroke: #333; /*線の色*/
}

/*アニメーション後に.doneというクラス名がで付与された時の指定*/
#mask.done path {
  fill: #333; /*塗りの色*/
  fill-opacity: 1; /*透過1で見える状態*/
  stroke: none; /*線の色なし*/
}

.fv {
  position: relative;
  video {
    width: 100%;
  }
  .title {
    font-size: clamp(25px, (50/1920) * 100vw, 50px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: #fff;
    letter-spacing: 0.2em;
  }
}

.about {
  padding: 8vw 0;
  .text {
    line-height: 1.5;
    letter-spacing: 0.1em;
    font-size: clamp(12px, (20/1920) * 100vw, 20px);
    margin-top: 2vw;
  }
}
.sub-title {
  font-size: clamp(18px, (36/1920) * 100vw, 36px);
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.2em;
}

.product {
  background-color: #f5f5f7;
  padding-top: 8vw;
  .list {
    li {
      border-radius: 15px;
      box-shadow: 2px 4px 12px #383838;
      overflow: hidden;
      width: (400/1920) * 100vw !important;
      margin: 8vw auto;
      // height: (600/1920) * 100vw;
      display: flex !important;
      flex-direction: column;
      justify-content: space-between;
      background-color: #fff;
      .text-wrap {
        padding: 1.5vw;
        .name {
          font-size: clamp(24px, (24/1920) * 100vw, 24px);
          color: #6e6e73;
          margin-bottom: 1vw;
        }
        .text {
          line-height: 1.5;
          letter-spacing: 0.1em;
          font-size: clamp(12px, (16/1920) * 100vw, 16px);
          word-break: auto-phrase;
        }
      }
      .img-wrap {
        img {
          height: 200px;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
.slick-track {
  display: flex;
}
.slick-slide {
  height: auto !important;
}
.key-slider,
.slick-list,
.slick-track {
  height: 100%;
}
#splash_logo svg {
  width: 256px;
  height: 256px;
  opacity: 1;
}
@media screen and (max-width: 768px) {
  #splash_logo {
    svg {
      width: 25vw;
    }
  }
  .fv {
    .title {
      font-size: clamp(22px, (44/750) * 100vw, 44px);
      white-space: nowrap;
    }
  }
  .about {
    padding: 16vw 0;
    .text {
      font-size: clamp(12px, (18/750) * 100vw, 18px);
      margin-top: (40/750) * 100vw;
    }
  }
  .sub-title {
    font-size: clamp(16px, (32/750) * 100vw, 32px);
  }
  .product {
    padding-top: 16vw;
    .list {
      li {
        width: 66vw !important;
        height: 100%;
        .text-wrap {
          padding: 6vw;
          .name {
            font-size: clamp(16px, (32/750) * 100vw, 32px);
            margin-bottom: 4vw;
          }
          .text {
          }
        }
      }
    }
  }
}
